
.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbarContainer h1, a {
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.navbar li {
    margin: auto;
    height: 50%;
    padding-right: 20px;
}
