body {
    font-family: sans-serif;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 3px 9px 32px -10px rgba(0,0,0,0.75);
    border-radius: 15px;
}
.navbarContainer h1, a {
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.navbar li {
    margin: auto;
    height: 50%;
    padding-right: 20px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.searchContainer label {
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-right: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.searchInput {
    width: 50%;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-left: none;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-right: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    outline: none;
    text-align: center;
}

.option {
    font-size: 16px;
    border-radius: 10px;
    border-left: none;
    outline: none;
    border : solid;
    border-left: none;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 10px;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.listCard {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.posterContainer {
    display: flex;
    flex-wrap: wrap;
    overflow: none;
}

.posterDiv {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-x: scroll;
    width: 95vw;
    padding: 5px;

}

#posterContent {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    padding: 15px;
    width: 25%;
    height: auto;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
}

#posterContent img {
    width: auto;
    height: 300px;

}
