{% include "components/head.html" %}
<body>
    {% include "components/nav.html" %}
    <div>
        <h1>Movies</h1>
        <div class="collectionCard" id="movieCollection">
            {% for items in moviesCollection %}
                <div class="imageDiv">
                    <a class="image" href="/movies/{{items.movieId}}"><img alt="poster" id="image" 
                        src={{ "https://www.themoviedb.org/t/p/original" + items.poster }}
                        height="100%"
                        width="35%"    
                    /></a>
                    <div class="imageInfoDiv">
                        <div id="movieDiv">
                            <h1 id={{ items.movieId }} class="movie">{{ items.title }}</h1>
                            <h2>{{ items.releaseDate }}</h2>
                        </div>
                        <div class="buttonDiv">
                            <button type="button" 
                                    class="deleteButton" 
                                    onclick="deleteFromCollection(this)"
                                    id={{ items.movieId }}
                                >Delete</button>
                            <button type="button" class="watchedButton">Watched</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h1>TV Shows</h1>
        <div class="collectionCard">
            {% for items in showsCollection %}
                <div class="imageDiv" >
                    <a href="/shows/{{ items.tvId }}"><img alt="poster" id="image" 
                        src={{ "https://www.themoviedb.org/t/p/original" + items.poster }}
                        height="100%"
                        width="35%"    
                    /></a>
                    <div class="imageInfoDiv">
                        <div id='showDiv'>
                            <h1 id={{ items.tvId }}  class="show">{{ items.title }}</h1>
                            <h2>{{ items.airDate }}</h2>
                        </div>
                        <div class="buttonDiv">
                            <button type="button" 
                                    class="deleteButton" 
                                    onclick="deleteFromCollection(this)"
                                    id={{ items.tvId }}
                                >Delete</button>
                            <button type="button" class="watchedButton">Watched</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>