{% include "components/head.html" %}
<body>
    {% include "components/nav.html" %}
    <div id="posterContainer" class="posterContainer">
        <div>
            <h1>Most Popular</h1>
            <div class="posterDiv">
                {% for items in popular.results %}
                    <div class={{ items.id }} id="posterContent">
                        <h2>{{ items.original_name }}</h2>
                        <a href="/shows/{{items.id}}"><img src={{ "https://www.themoviedb.org/t/p/original" + items.poster_path }} alt="movie_poster"></a>
                        <h3>{{ items.first_air_date }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <h1>Playing Now</h1>
            <div class="posterDiv">
                {% for items in airToday.results %}
                    <div class={{ items.id }} id="posterContent">
                        <h2>{{ items.original_name }}</h2>
                        <a href="/shows/{{items.id}}"><img src={{ "https://www.themoviedb.org/t/p/original" + items.poster_path }} alt="movie_poster"></a>
                        <h3>{{ items.first_air_date }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <h1>Top Rated</h1>
            <div class="posterDiv">
                {% for items in onAir.results %}
                    <div class={{ items.id }} id="posterContent">
                        <h2>{{ items.original_name }}</h2>
                        <a href="/shows/{{items.id}}"><img src={{ "https://www.themoviedb.org/t/p/original" + items.poster_path }} alt="movie_poster"></a>
                        <h3>{{ items.first_air_date }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <h1>Upcoming</h1>
            <div class="posterDiv">
                {% for items in topRated.results %}
                    <div class={{ items.id }} id="posterContent">
                        <h2>{{ items.original_name }}</h2>
                        <a href="/shows/{{items.id}}"><img src={{ "https://www.themoviedb.org/t/p/original" + items.poster_path }} alt="movie_poster"></a>
                        <h3>{{ items.first_air_date }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>